{% extends 'base.html' %}
{% block title %} Вход {% endblock title %}
{% block content %}
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Авторизация</h2>
            <form method="post">
                {{ form.csrf_token() }}
                
                <div class="form-outline mb-4">
                    <a href="{{url_for('auth.register')}}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Нет аккаунта?</a></p>
                </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">{{ form.email.label }}</label>
                {{ form.email() }}
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">{{ form.password.label }}</label>
                {{ form.password() }}
              </div>

              <!-- Flash messages -->
              <div class="form-outline mb-4">
                {% include 'flash_messages.html' %}
              </div>

              <!-- Field errors -->
                <div class="form-outline mb-4">
                    {% for error in form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors[error][0] }}
                        </div>
                    {% endfor %}
                </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-danger btn-block mb-4">
                Войти
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
{% endblock content %}