{% extends 'base.html' %}

{% block title %}Гарантии и возврат{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center">Гарантии и возврат</h1>
                <div class="red-divider"></div>

                <h2>Срок возврата товара</h2>
                <hr class="hr"/>
                <p>Срок возврата товара надлежащего качества составляет 21 день с момента получения товара.</p>

                <h2>Причины для возврата товара со стороны Покупателя:</h2>
                <hr class="hr"/>
                <ul>
                    <li>Не подошел размер, форм-фактор, цвет, длина и т.п.</li>
                    <li>Оттенок полученного товара отличается от оттенка модели с фотографии на сайте.</li>
                </ul>

                <h2>Причины для возврата по ошибке Продавца:</h2>
                <hr class="hr"/>
                <ul>
                    <li>Неправильная комплектация заказа.</li>
                    <li>Наличие дефекта/брака.</li>
                </ul>

                <h2>Возврат денежных средств</h2>
                <hr class="hr"/>
                <p>Возврат денежных средств покупателю нашего интернет-магазина осуществляется следующими способами:</p>

                <ol>
                    <li><b>Наличный расчет</b></li>
                    <p>Возможен в любом фирменном пункте самовывоза. Покупатель получает денежные средства при наличии документа, удостоверяющего личность (паспорт или документ, его заменяющий), и бланка-заявки, образец которого будет предоставлен Клиенту.</p>

                    <li><b>Безналичный расчет</b></li>
                    <p>Клиент обязан указать предоставить банковские реквизиты. Для перечисления денежных средств необходима следующая информация:</p>
                    <ul>
                        <li>БИК отделения банка, где открыт счет</li>
                        <li>Лицевой счет Клиента</li>
                        <li>ФИО владельца счета</li>
                    </ul>
                </ol>

                <p>Возврат денежных средств Клиенту осуществляется в течение 5-7 рабочих дней.</p>
            </div>
        </div>
    </div>
{% endblock content %}