{% extends 'base.html' %}

{% block title %}Как сделать заказ{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">Как сделать заказ</h1>
            <div class="red-divider"></div>
            <ol>
                <li>Выберите в каталоге нужный ассортимент.</li>
                <li>Укажите необходимое количество и отправьте в корзину. Когда товар в корзине, вы можете добавлять товар и удалять — сумма пересчитается автоматически.</li>
                <li>Нажмите кнопку «Оформить заказ» в правом верхнем углу сайта.</li>
                <li>Укажите свои контактные данные.</li>
                <li>Наши менеджеры оперативно свяжутся с вами и согласуют вопросы оплаты и доставки.</li>
            </ol>
            <p>Также вы можете на странице товара оформить заказ в 1 клик, указав контакт и имя, и мы подробно вас проконсультируем.</p>
            <p>Либо связаться с нами по телефонам, указанным в разделе <b>«Контакты»</b>.</p>
        </div>
    </div>
</div>
{% endblock content %}