{% extends 'base.html' %}

{% block title %}Оплата и доставка{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">Оплата и доставка</h1>
            <div class="red-divider"></div>

            <h2>Понравившиеся Вам товары можно оплатить перечисленными ниже способами:</h2>
            <hr class="hr"/>

            <ol>
                <li><b>Наличными</b></li>
                <p>Оплата заказа наличными во время приёма.</p>

                <li><b>Банковский перевод</b></li>
                <p>После оформления заказа на сайте, Вам придет счет на почту.</p>
            </ol>

            <h2>Условия доставки</h2>
            <hr class="hr"/>
            <p>Доставка товаров из нашего интернет-магазина осуществляется по городу Находка на следующий день после заказа. Каждый четверг мы доставляем товар во Врангель.</p>
            <p><b>Доставка нашего товара бесплатна.</b></p>
        </div>
    </div>
</div>
{% endblock content %}