{% extends 'base.html' %}

{% block title %}Согласие на обработку персональных данных{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center">Согласие на обработку персональных данных</h1>
                <div class="red-divider"></div>
                <p>Я, своей волей и в своем интересе даю согласие на обработку, в том числе на сбор, систематизацию, накопление, хранение (уточнение, обновление, изменение), использование, передачу третьим лицам, обезличивание, блокирование и уничтожение моих персональных данных — фамилии, имени, отчества, номера контактного телефона, адреса электронной почты, ООО «АТМАН», юридический адрес: г. Находка, ул. Шоссейная 96 (далее — «Продавец»), с целью предоставления мне товаров и услуг (продуктов), включая, но не ограничиваясь: идентификацией, осуществление доставки, предоставление сервисных услуг, распространения информационных и рекламных сообщений (по SMS, электронной почте, телефону, иным средствам связи), получения обратной связи.</p>

                <p> Настоящим, я также даю свое согласие на трансграничную передачу моих персональных данных, в том числе на территории иностранных государств, не включенных в перечень, утвержденный Приказом Роскомнадзора от 15.03.2013 N 274 (ред. от 29.10.2014) «Об утверждении перечня иностранных государств, не являющихся сторонами Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных и обеспечивающих адекватную защиту прав субъектов персональных данных», для выполнения вышеуказанных целей обработки персональных данных.</p>

                <p>Подтверждаю, что персональные данные и иные сведения, относящиеся ко мне (фамилия, имя, отчество, номер контактного телефона, адрес электронной почты) предоставлены мною Продавцу путем внесения их при регистрации на сайте atmandv.ruдобровольно и являются достоверными. Я извещен о том, что в случае недостоверности предоставленных персональных и сведений Продавец оставляет за собой право прекратить обслуживание посредством сайта atmandv.ru.</p>

                <p>Я согласен, что мои персональные данные будут обрабатываться способами, соответствующими целям обработки персональных данных, без возможности принятия решения на основании исключительно автоматизированной обработки моих персональных данных.</p>

                <p>Согласие дается мной на 10 лет с момента регистрации на сайте atmandv.ru и до моего сведения доведено, что по истечении данного срока мое согласие автоматически продлевается на 10 лет.</p>

                <p>Настоящее согласие может быть отозвано мной в любой момент путем направления письменного требования в адрес Продавца.</p>

                <p>Адрес электронной почты Продавца: info@atmandv.ru</p>
            </div>
        </div>
    </div>
{% endblock content %}