{% extends 'base.html' %}

{% block title %}Политика конфиденциальности{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center">Политика конфиденциальности</h1>
                <div class="red-divider"></div>

                <p>Данная Политика конфиденциальности (далее — Политика) распространяется на персональные данные, предоставляемые покупателями и пользователями услуг <b>ООО «АТМАН»</b> (далее — пользователи) в связи с оказанием услуг, либо при ином взаимодействии, которое сопровождается ссылкой или другим указанием на действие данной Политики. Например, в связи с пользованием устройствами и аксессуарами, интернет-сайтами (в том числе мобильными), и в процессе оказания других видов услуг, предлагаемых <b>ООО «АТМАН»</b>, как правило, в электронной форме. Персональные данные предоставляются также при взаимодействии с <b>ООО «АТМАН»</b> в процессе оказания технической поддержки пользователей, гарантийного обслуживания, участия пользователей в рекламных акциях и кампаниях.</p>

                <p><b>ООО «АТМАН»</b> может публиковать дополнительные или измененные положения Политики. Такие положения имеют преимущественную силу перед данной Политикой в случае любых расхождений между ними. Продукты и услуги <b>ООО «АТМАН»</b> могут содержать ссылки на интернет-сайты других компаний и иные услуги третьих лиц, которые имеют собственную политику защиты частной жизни. <b>ООО «АТМАН»</b> не несет ответственности за практику защиты частной жизни или содержание любых таких служб.</p>

                <p>Используя интернет-сайт и/или предоставляя <b>ООО «АТМАН»</b> персональные данные, пользователь выражает согласие на обработку своих персональных данных в целях и способами, предусмотренными данной Политикой.</p>

                <h2>Порядок сбора, хранения и уничтожения персональных данных</h2>
                <hr class="hr"/>
                <p>Сбор персональных данных осуществляется <b>ООО «АТМАН»</b> исключительно с ведома и согласия пользователей с целью предоставления доступа к сервисам, таким как (но не ограничиваясь): покупка товаров на сайте, гарантийное обслуживание, участие в рекламных кампаниях и акциях.</p>

                <p><b>ООО «АТМАН»</b> предпринимает необходимые технические и организационные меры информационной безопасности, чтобы предотвратить утечку информации и свести такие риски к минимуму. Такие меры включают: использование брандмауэров, антивирусных средств, размещение носителей информации в защищенных серверных центрах, шифрование, трансляцию сетевых адресов и скрытие внутренней структуры сети <b>ООО «АТМАН»</b>, развертывание надлежащих систем и процедур управления правами доступа. Для защиты от случайной утраты и/или повреждения персональных данных используется резервное копирование данных. Для защиты конфиденциальности и безопасности при взаимодействии пользователей с сайтом используются стандартные для отрасли меры безопасности.</p>

                <p>Персональные данные хранятся до момента прекращения деятельности компании. Максимальный срок хранения персональных данных — 75 лет с момента их получения от пользователя.</p>

                <p>Уничтожение или обезличивание части персональных данных, если это допускается материальным носителем, может производиться способом, исключающим дальнейшую обработку этих персональных данных с сохранением возможности обработки иных данных, зафиксированных на материальном носителе (удаление, вымаривание).</p>

                <h2>Блокирование, уничтожение, обезличивание персональных данных</h2>
                <hr class="hr"/>
                <p>Блокирование, уничтожение, обезличивание персональных данных осуществляются по причинам, предусмотренным действующим законодательством, Комиссией <b>ООО «АТМАН»</b>.</p>

                <p>Подтверждением производства действий по блокированию, уничтожению, обезличиванию персональных данных является Акт, составленный Комиссией <b>ООО «АТМАН»</b> в составе уполномоченных лиц.</p>

                <h2><b>ООО «АТМАН»</b> осуществляет сбор данных, относящихся к следующим категориям:</h2>
                <hr class="hr"/>
                <h3>Техническая информация</h3>
                <p>К данной категории информации относятся:</p>
                <ul>
                    <li>IP-адрес компьютера и время доступа;</li>
                    <li>сведения о том, по ссылке с какого Интернет-сайта пользователь попал на ресурс <b>ООО «АТМАН»</b>;</li>
                    <li>сведения о посещенных страницах на сайте <b>ООО «АТМАН»</b>;</li>
                    <li>сведения об использованных ссылках на сайте <b>ООО «АТМАН»</b>;</li>
                    <li>сведения о просмотре рекламных баннеров;</li>
                    <li>информация об устройствах компьютера пользователя;</li>
                    <li>прочая техническая информация, предоставляемая браузером пользователя (тип устройства, тип и версия браузера, операционная система, разрешение экрана и т.п.);</li>
                    <li>номер мобильного телефона при осуществлении пользователем звонка на телефонные номера, указанные на сайте.</li>
                </ul>
                <h3>Информация, необходимая для осуществления доступа к услугам</h3>
                <p>С целью аутентификации пользователей сайта и подтверждения их действий, персонализации услуг, а также для осуществления доставки товара и обратной связи с пользователями, при регистрации на сайте <b>atmandv.ru</b> <b>ООО «АТМАН»</b> осуществляет сбор следующей информации:</p>

                <ul>
                    <li>имя и фамилия пользователя;</li>
                    <li>адрес электронной почты;</li>
                    <li>номер телефона;</li>
                    <li>почтовый адрес;</li>
                    <li>имена и пароли пользователей.</li>
                </ul>
                <p>Обязательными являются данные об имени пользователя и пароле. Информация об адресе является обязательной только в случае использования услуги доставки товара. Прочая информация (имя и фамилия пользователя, адрес электронной почты, номер телефона, почтовый адрес) является необязательной и предоставляется пользователем по желанию.</p>

                <h3>Информация о действиях пользователя</h3>
                <p>К данной категории информации относятся:</p>

                <ul>
                    <li>сведения о транзакциях между пользователем и <b>ООО «АТМАН»</b>;</li>
                    <li>сведения о направленных запросах или обращениях;</li>
                    <li>сведения о приобретенных товарах и предоставленных услугах (в том числе сведения о доставке);</li>
                    <li>финансовая информация (в том числе совершенные платежи, данные о кредитной карте, адрес для выставления счетов, результаты проверки кредитоспособности и другие аналогичные финансовые сведения);</li>
                    <li>детальная информация о соглашениях между пользователем и <b>ООО «АТМАН»</b>;</li>
                    <li>сведения о контактах и сообщениях;</li>
                    <li>данные о местоположении пользователя (при получении прямого согласия пользователя на каждый случай предоставления подобной информации).</li>
                </ul>

                <h2>Цели обработки персональных данных</h2>
                <hr class="hr"/>
                <p><b>ООО «АТМАН»</b> осуществляет обработку персональных данных для целей, которые описаны в данной Политике и/или в любых дополнительных положениях о защите частной жизни для конкретных услуг <b>ООО «АТМАН»</b>.</p>

                <ul>
                    <li>При продаже продукции и предоставлении услуг — с целью оказания услуг, обработки заказов или других действий, которые могут потребоваться для выполнения обязательств <b>ООО «АТМАН»</b> перед пользователями, для обеспечения функциональности и безопасности продуктов и услуг, для подтверждения совершаемых пользователем действий, либо для предотвращения и расследования случаев мошенничества и других злоупотреблений.</li>
                    <li>При разработке продуктов и услуг — с целью учета пожеланий различных категорий пользователей. В этом случае используется обезличенная сводная и статистическая информация. С целью подготовки индивидуальных предложений и предоставления наиболее подходящих конкретному пользователю услуг.</li>
                    <li>При осуществлении обратной связи с пользователями — с целью предоставления пользователю информации о продуктах и/или услугах, с целью изучения степени удовлетворенности сервисами <b>ООО «АТМАН»</b>. С целью проведения маркетинговых исследований, например, для проведения исследований рынка. Кроме того, некоторые из продуктов и услуг <b>ООО «АТМАН»</b> могут использоваться для продвижения продуктов и услуг других компаний. Тем не менее, <b>ООО «АТМАН»</b> без предварительного согласия пользователя не раскрывает его персональные данные таким компаниям или любым другим компаниям для использования в маркетинговых целях.</li>
                </ul>

                <h2>Передача персональных данных</h2>
                <hr class="hr"/>
                <p><b>ООО «АТМАН»</b> не осуществляет передачу персональных данных пользователей третьим лицам, за исключением следующих случаев:</p>

                <ul>
                    <li>Получение прямого согласия. Некоторые сервисы предполагают передачу персональных данных другим пользователям сервисов, например, при публикации пользователем своих материалов или участии в работе сообществ пользователей <b>ООО «АТМАН»</b>.</li>
                    <li>Обязательное раскрытие. При наличии законного требования органов власти или иных третьих лиц, например, органов правопорядка в странах, где ведет работу <b>ООО «АТМАН»</b>. <b>ООО «АТМАН»</b> может с соблюдением действующего законодательства раскрывать и обрабатывать персональные данные пользователей для защиты законных интересов <b>ООО «АТМАН»</b>, например, в ходе судопроизводства.</li>
                    <li>Слияния и приобретения. В случае принятия решения о продаже, покупке, слиянии или иной реорганизации бизнеса <b>ООО «АТМАН»</b> в той или иной стране, может потребоваться передача персональных данных потенциальным или фактическим покупателям и их консультантам либо получения персональных данных от продавцов и их консультантов.</li>
                </ul>

                <h2>Использование Cookies</h2>
                <hr class="hr"/>
                <p>При посещении Интернет-сайтов <b>ООО «АТМАН»</b> на компьютер пользователя может помещаться информация, позволяющая идентифицировать компьютер пользователя. Эта информация имеет вид текстовых файлов, называемых «Cookies». Cookies позволяют осуществлять сбор информации о компьютере пользователя, включая IP-адрес, операционную систему, тип браузера и адреса ссылающихся сайтов. Сайт <b>ООО «АТМАН»</b> использует Cookies с целью улучшения предоставляемых услуг, в частности, устранения необходимости вводить пароль в ходе сеанса или заново добавлять в корзину заказываемые товары, если пользователь не успел завершить транзакцию за одно посещение. Кроме того, Cookies используются для анализа трафика на Интернет-сайтах и сбора обезличенных демографических данных с целью совершенствования наших услуг.</p>
                <p>При отключении Cookies часть сервисов могут стать недоступными пользователю.</p>

                <h2>Права пользователей</h2>
                <hr class="hr"/>
                <p>В случаях, если пользователь хочет узнать, какими персональными данными о нем располагает <b>ООО «АТМАН»</b>, либо дополнить, исправить, обезличить или удалить любые неполные, неточные или устаревшие персональные данные, либо хочет прекратить обработку его персональных данных для целей рассылки рекламных материалов, прямого маркетинга или проведения исследований рынка, либо имеет другие убедительные законные основания, он может в должном порядке и в соответствии с действующим законодательством реализовать такое право, обратившись в <b>ООО «АТМАН»</b>. В некоторых случаях (особенно если пользователь хочет удалить свои персональные данные или прекратить их обработку) это также может означать невозможность дальнейшего предоставления услуг. Пользователям предоставляется возможность управления своими персональными данными с использованием функций управления профилем.</p>
                <p>В некоторых случаях, например, при возврате товара, требуется фиксация персональных данных покупателя, в частности, паспортных данных. В этих случаях действующее законодательство может устанавливать ограничения на права пользователей, упомянутые выше.</p>

                <h2>Администратор персональных данных и информация для связи</h2>
                <hr class="hr"/>
                <p>В качестве администратора персональных данных пользователей выступает <b>ООО «АТМАН»</b> (г. Находка, ул. Шоссейная 96.)</p>

                <h2>Изменения настоящей Политики</h2>
                <hr class="hr"/>
                <p><b>ООО «АТМАН»</b> оставляет за собой право изменять настоящую Политику, либо изменять, модифицировать или закрывать доступ к Интернет-сайтам компании в любое время, с уведомлением или без него. Тем не менее, в случае внесения в данную Политику существенных изменений, <b>ООО «АТМАН»</b> разместит уведомление о таких изменениях в начале этого документа и на главной странице Интернет-сайта. Продолжительность размещения уведомления — 30 дней.</p>
        
            </div>
        </div>
    </div>
{% endblock content %}