{% extends 'base.html' %}

{% block title %}Реквизиты{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">Реквизиты</h1>
            <div class="red-divider"></div>
            <p><strong>Полное наименование:</strong> ООО «АТМАН»</p>
            <p><strong>Юридический (почтовый) адрес:</strong> Приморский край, г Находка, ул Черемуховая, д 19</p>
            <p><strong>Фактический адрес:</strong> г. Находка, ул. Шоссейная 96</p>
            <p><strong>ИНН:</strong> 2508139006</p>
            <p><strong>КПП:</strong> 250801001</p>
            <p><strong>ОГРН:</strong> 1202500026761</p>
            <p><strong>Тел.:</strong> +7 (4236) 61-21-6</p>
            <p><strong>Наименование банка:</strong> Филиал "Корпоративный" ПАО "Совкомбанк" г. Москва</p>
            <p><strong>БИК:</strong> 044525360</p>
            <p><strong>Корреспондентский счет:</strong> 30101810445250000360</p>
            <p><strong>Расчетный счет:</strong> 40702810212550036575</p>
        </div>
    </div>
</div>
{% endblock content %}