{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">Любые товары для бесперебойной работы офиса от компании "Атман"</h1>
            <p>Канцелярские товары и офисные принадлежности всегда востребованы и пользуются стабильным спросом. Они нужны как для ежедневной работы любого офиса, так и школьникам, студентам, домохозяйкам. В Находке бумагу, картриджи для оргтехники, офисные принадлежности, а также товары для уборки и поддержания чистоты в широком ассортименте предлагает компания "Атман". Заказ можно осуществить непосредственно на сайте, а также обратившись к нашим менеджерам по телефону или в офисе. Заказ на сайте удобен тем, что вам не обязательно терять время на дорогу до магазина и на поиски нужного товара, поскольку "Атман" предлагает совершать покупки в удобное именно для вас время, будь это рабочие часы, будни, или же выходные дни. А наша служба доставки оперативно привезет любой заказ в удобное время по нужному адресу.</p>

            <h2 class="mt-4">Главным приоритетом для компании "Атман" является качественное обслуживание клиента.</h2>
            <p>Мы предлагаем любую удобную для клиента форму оплаты. Наши консультанты всегда рады помочь покупателям в выборе подходящих товаров для любых задач и целей. За годы работы мы смогли завести партнерские отношения со всеми крупными производителями, что позволяет нам быть уверенными в высочайшем качестве всей представленной в ассортименте продукции, а также в том, что она продается по выгодным для клиентов ценам.</p>

            <h3 class="mt-4">"Атман" предлагает:</h3>
            <ul>
                <li>Бумага для офисной техники различных видов, без которой невозможно представить офисную работу и делопроизводство</li>
                <li>Чековая лента – для любых видов касс и принтеров чеков</li>
                <li>Фотобумага различных видов и размеров для качественной фотопечати</li>
                <li>Картриджи и тонеры для копировальной техники</li>
                <li>Офисные принадлежности и все необходимое для школ, канцелярий, бухгалтерий, отделов кадров и секретарей</li>
                <li>Канцелярские товары - у нас найдутся варианты и для школьника, и для современного бизнесмена</li>
                <li>Товары для уборки офиса – бытовая химия, инвентарь, расходные материалы</li>
                <li>Товары для гигиены – туалетная бумага, мыло, бумажные полотенца</li>
            </ul>

            <h3 class="mt-4">Преимущества сотрудничества с компанией "Атман"</h3>
            <ul>
                <li>Огромный ассортимент товаров для офиса от проверенных производителей</li>
                <li>Приятные цены на весь ассортимент товара</li>
                <li>Индивидуальный подход к каждому покупателю</li>
                <li>Регулярные акции и скидки, а также система лояльности для постоянных клиентов</li>
                <li>Своевременная доставка заказов клиентам</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}